#root {
    /* max-width: 1280px; */
    /* margin: 0 auto;
    padding: 2rem; */
    text-align: center;
}


.fondo {
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.fondo_buscador {
    background-image: url("./assets/fondo_buscador.jpeg");
    position: relative;

}

.fondo:not(.rectangulo_buscador_1_grande):not(.titulo_buscador)::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(255, 255, 255, .65);
}


.fondo_galeria {
    background-image: url("./assets/fondo_galeria.jpeg");
    position: relative;
}

.fondo_juego {
    background-image: url("./assets/fondo_juego.jpeg");
    position: relative;
}
.fondo_about{
    background-color: #FFF2D8;
    position: relative;
}

.rectangulo {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: thick solid;
    text-align: start;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 2;
}


.fondo_shape_1 {
    width: 50%;
    height: auto;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 1;
}

.fondo_shape_2 {
    width: auto;
    height: 50%;
    left: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
}

.fondo_shape_3 {
    width: auto;
    height: 94%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fondo_shape_4 {
    width: auto;
    height: 60%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.fondo_shape_7 {
    width: auto;
    height: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}


.titulo_buscador {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.titulo_galeria {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.titulo_juego {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}
.titulo_about{
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.subtitulo_juego {
    color: #FFF2D8;
    font-family: 'Patua One', serif;
    position: relative;
    text-align: center;
}

.boton_juego {
    background-color: #DCC295;
    color: #113946;
    border: thick solid #FFF2D8;
    border-radius: 50px;

}

.botonera_juego {
    flex-wrap: nowrap;
}


.rectangulo_buscador_1_grande {
    position: relative;
    z-index: 3;
}

.rectangulo_buscador_2 {
    position: relative;
}



.texto_opciones {
    padding-top: 80px;
    padding-bottom: 30px;
}

.imagenOpcion {
    width: 200px;
    height: 200px;
    clip: rect(0px, 60px, 200px, 0px);
    border-radius: 20%;
    border-style: solid;
    border-width: 5px;
    margin: 10px;
}

.tarjetaOpcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

.tarjetaTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    height: 100%;
}

.div_estructura_opcion {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* -----------------AQUÍ LOS CAMBIOS PARA PANTALLAS GRANDES--------------------------- */
@media only screen and (min-width: 1024px) {

    .imagen_fondo_buscador {
        width: 100vw;
        height: 110vh;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .imagen_fondo_galeria {
        width: 100vw;
        height: 110vh;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .rectangulo_buscador_1_grande {
        position: relative;
    }
    .rectangulo_buscador_1_pequeño{
        display: none;
    }

    .rectangulo_buscador_2 {
    }

    .rectangulo_galeria_1 {
    }

    .rectangulo_galeria_2 {
    }

    .rectangulo_galeria_3 {
    }

    .rectangulo_galeria_4 {
    }

    .rectangulo_galeria_5 {
    }

    .rectangulo_galeria_6 {
    }


    .titulo_buscador {
        font-size: 65px;
        margin-right: 20px;
    }

    .titulo_galeria {
        font-size: 65px;
    }

    .titulo_juego {
        font-size: 65px;
    }

    .subtitulo_juego {
        font-size: 45px;
    }
    .titulo_about{
        font-size: 65px;
    }

    .row_buscador {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 390px;

    }

    .buscador_input {
        width: 150px;
    }

}

/*-----------------------AQUÍ LOS CAMBIOS PARA PANTALLAS MEDIANAS----------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .imagen_fondo_buscador {
        width: 100vw;
        height: 110vh;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .imagen_fondo_galeria {
        width: 100vw;
        height: 110vh;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .rectangulo_buscador_1_grande {
    }
    .rectangulo_buscador_1_pequeño{
        display: none;
    }

    .rectangulo_buscador_2 {
    }

    .titulo_buscador {

        font-size: 4em;
    }

    .titulo_galeria {
    }

    .row_buscador {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 350px;
    }

    .buscador_input {
        width: 120px;
    }


}


/*-------------------------AQUÍ LOS CAMBIOS PARA PANTALLAS PEQUEÑAS------------------------------*/
@media only screen and (max-width: 767px) {
    .imagen_fondo_buscador {
        width: 100vw;
        height: 110vh;
        background-size: cover;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .imagen_fondo_galeria {
        width: 100vw;
        height: 110vh;
        background-size: cover;
        background-position: center;
        object-position: center 45%;
        opacity: 19%;
    }

    .rectangulo_buscador_1_grande {
        display: none;
    }
    .rectangulo_buscador_1_pequeño {
    align-items: center;
        overflow: hidden;

    }

    .rectangulo_buscador_2 {
    }
    .rectangulo_about_1{
        height: 240px !important;
        font-size: smaller;
    }
    .rectangulo_about_2{
        height: 440px !important;
        font-size: smaller;
    }

    .fondo_shape_1 {
    }

    .fondo_shape_2 {
    }

    .titulo_buscador {

        font-size: 3em;
    }
    .row_buscador {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 490px;
        overflow: hidden;
        padding-left: 10vw !important;

    }

    .titulo_galeria {
    }
    .titulo_about{
        font-size: 3em;
    }

    .rectangulo_juego {
        max-width: 90vw;
    }

    .botonera_juego {
        flex-direction: column;
    }

    .subtitulo_juego {
        font-size: 35px;
    }

}

/*-------------------------AQUÍ LOS CAMBIOS PARA PANTALLAS MUY PEQUEÑAS------------------------------*/
@media only screen and (max-width: 485px) {
    .row_buscador {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 60vw !important;
        height: 40px !important;
        margin-left: 0 !important;
        overflow: hidden;
        flex-wrap: nowrap;
        padding-left: 10vw !important;

    }
    .row_buscador_flecha{
        display: none;
    }
    .rectangulo_buscador_1_pequeño {
        align-items: flex-start;
        padding-left: 2px !important;
        overflow: hidden;
        width: 80vw !important;
    }
    .rectangulo_about_1{
        height: 240px !important;
        font-size: smaller;
    }
    .rectangulo_about_2{
        height: 440px !important;
        font-size: smaller;
    }
}