#root {
    /* max-width: 1280px; */
    /* margin: 0 auto;
    padding: 2rem; */
    text-align: center;
}


.fondo {
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

/*
.fondo_buscador {
    background-image: url("./assets/fondo_buscador.jpeg");
    position: relative;

}

.fondo:not(.rectangulo_buscador_1_grande):not(.titulo_buscador)::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(255, 255, 255, .65);
}
*/
.fondo_about {
    background-color: #FFF2D8;
    position: relative;
}

.rectangulo {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: thick solid;
    text-align: start;
    align-items: center;
    justify-content: center;

}


.titulo_about {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}


/* ------- COMPONENTE JUEGO ---------*/

.subtitulo_juego {
    color: #FFF2D8;
    font-family: 'Patua One', serif;
    text-align: center;
}

.boton_juego {
    background-color: #DCC295;
    color: #113946;
    border: thick solid #FFF2D8;
    border-radius: 50px;

}

.botonera_juego {
    flex-wrap: nowrap;
}


.titulo_juego {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.fondo_juego {
    min-height: 100vh;
    background-image: url("./assets/fondo_juego_con_filtro.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    object-position: center 45%;
}

/* ----------------- */

/* ------- COMPONENTE COMPARADOR ---------*/
.fondo_comparador {
    min-height: 100vh;
    height: 100%;
    background-image: url("./assets/fondo_comparador_con_filtro.png");
    background-size: cover;
}

.titulo_comparador {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.comparador_2 {
    min-width: 100%;
}

.comparador_textfield {
    max-width: 200px;
}

/*
@media only screen and (min-width: 1024px) {
    .comparador_textfield {
        min-width: 500px;
    }
}

 */


/* ----------------- */

/* ------- COMPONENTE BUSCADOR ---------*/

.fondo_buscador {
    background-image: url("./assets/fondo_buscador_con_filtro.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-position: center;
    object-position: center 45%;
}

.titulo_buscador {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.rectangulo_buscador_1_grande {
    position: relative;
    z-index: 3;
}

.rectangulo_buscador_2 {
    position: relative;
}

/* ----------------- */


/* ------- COMPONENTE GALERIA ---------*/

.titulo_galeria {
    color: #113946;
    font-family: 'Patua One', serif;
    position: relative;
}

.fondo_galeria {
    background-image: url("./assets/fondo_galeria_con_filtro.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-position: bottom right;
}

.buscador-galería {
    background-color: #f5f1e9;
    height: fit-content;
    width: 400px;
}

/* ----------------- */


/* ------- COMPONENTE ESTRUCTURAOPCIONES ---------*/


.imagenOpcion {
    width: 200px;
    height: 200px;
    clip: rect(0px, 60px, 200px, 0px);
    border-radius: 20%;
    border-style: solid;
    border-width: 5px;
    margin: 10px;
}

.tarjetaOpcion {
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 30px;
}

.tarjetaTexto {
    align-items: center;
    max-width: 350px;
    height: 100%;
}

/* ----------------- */

/* ------- COMPONENTE OPCIONES ---------*/

.texto_opciones {
    padding-top: 80px;
    padding-bottom: 30px;
    align-items: center;
    width: fit-content;
}

/* ----------------- */

/* ------- COMPONENTE INTRODUCCION ---------*/

.introduccion {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoIntro {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#titulointro {
    font-size: clamp(7vh, 3rem, 40%);
    margin: 0px 30px 0px 30px;
}

#titulodestino {
    font-size: inherit;
    font-weight: bold;
}

#tituloextra {
    font-size: clamp(3vh, 3rem, 40%);
    margin: 50px 30px 0px 30px;
}

#buttonIntro {
    color: white;
    margin-top: 50px;
    font-size: clamp(3vh, 3rem, 40%);
    background-color: rgb(12, 12, 119);
    border-radius: 50px;
}
